# Aiven database config
AIVEN_PG_HOST=AIVEN_PG_HOST_NAME
AIVEN_PG_PORT=AIVEN_PG_PORT_NUMBER
AIVEN_PG_DATABASE=AIVEN_PG_DATABASE_NAME
AIVEN_PG_USER=AIVEN_PG_USERNAME
AIVEN_PG_PASSWORD=AIVEN_PG_PASSWORD