# Aiven database config
AIVEN_PG_HOST=vestige-postgres-vestige.a.aivencloud.com
AIVEN_PG_PORT=17412
AIVEN_PG_DATABASE=vestige
AIVEN_PG_USER=AIVEN_PG_USERNAME
AIVEN_PG_PASSWORD=AIVEN_PG_PASSWORD

# Only required for Power BI
AIVEN_PG_READ_ONLY_USER=vestige_reader
AIVEN_PG_READ_ONLY_USER_PASSWORD=AVNS_Fy-UlBVQKTp1KElY7Is